<h1>Create an Album!</h1>

<form class="" action="<%=albums_url%>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">

  <label>Title:
    <input type="text" name="album[title]" value="">
  </label>
  <br>
  <label>Year:
    <input type="text" name="album[year]" value="">
  </label>
  <br>

  <input type="submit" name="" value="Submit">
</form>
